<div class="wrapper">
  <div class="header">
    <div>
      <app-dropdown [maxHeight]="200"
                    [(selectValue)]="currentYear"
                    [listData]="yearListData"></app-dropdown>
    </div>
    <div>
      <div class="icon prev" (click)="prevMonth()"></div>
      <app-dropdown [maxHeight]="200"
                    [(selectValue)]="currentMonth"
                    [listData]="monthListData"></app-dropdown>
      <div class="icon next" (click)="nextMonth()"></div>
    </div>
    <div>
      <button class="btn" (click)="resetDate()">返回今日</button>
    </div>
  </div>
  <div class="body">
    <app-calendar-body [(year)]="currentYear" [(month)]="currentMonth" [(day)]="currentDay"
                       [showToday]="showToday" [scheduleList]="scheduleList" [showSchedule]="showSchedule"
                       [scheduleIconColor]="scheduleIconColor"></app-calendar-body>
  </div>
</div>