$blue: #388bff;
$gray-background: #f0f0f0;
$gray-border: #d8d8d8;
$gray-dark-border: #c7c7c7;

.wrapper{
  padding: 10px;
  .header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $blue;
    >div{
      margin-right: 10px;
    }
  }
}

.btn{
  box-sizing: border-box;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: $gray-background;
  outline: none;
  border: none;
  padding: 0 10px;
  border: 1px solid $gray-border;
  cursor: pointer;
  &:active{
    box-shadow: inset 1px 1px 1px $gray-dark-border;
  }
  &:hover{
    border-color: #388bff;
  }
}