@import '../../assets/sass/_variable.scss';

.wrapper{
  padding: 10px;
  .header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color-blue;
    >div{
      margin-right: 10px;
    }
  }
}

.btn{
  box-sizing: border-box;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: $bg-color-gray;
  outline: none;
  border: none;
  padding: 0 10px;
  border: 1px solid $border-color-gray;
  cursor: pointer;
  &:active{
    box-shadow: inset 1px 1px 1px $border-color-gray-dark;
  }
  &:hover{
    border-color: $border-color-blue;
  }
}