@import '../../assets/sass/_variable.scss';

.wrapper{
  padding: 10px;
  .header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color-blue;
    >div{
      margin-right: 10px;
      display: flex;
    }
  }
}

.icon{
  box-sizing: border-box;
  width: 22px;
  height: 26px;
  border: 1px solid $border-color-gray-dark;
  position: relative;
  cursor: pointer;
  &:hover{
    background: $border-color-gray-dark;
    &::after{
      border-color: $border-color-white;
    }
  }
  &.prev{
    border-right: none;
    &::after{
      transform: translate(-2.5px, -4.5px) rotateZ(45deg);
    }
  }
  &.next{
    border-left: none;
    &::after{
      transform: translate(-7.5px, -4.5px) rotateZ(-135deg);
    }
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-left: 1px solid $border-color-gray-dark;
    border-bottom: 1px solid $border-color-gray-dark;
  }
}

.btn{
  box-sizing: border-box;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: $bg-color-gray;
  outline: none;
  border: none;
  padding: 0 10px;
  border: 1px solid $border-color-gray;
  cursor: pointer;
  &:active{
    box-shadow: inset 1px 1px 1px $border-color-gray-dark;
  }
  &:hover{
    border-color: $border-color-blue;
  }
}