<div class="body-wrapper">
  <table>
    <tr>
      <th>一</th>
      <th>二</th>
      <th>三</th>
      <th>四</th>
      <th>五</th>
      <th class="text-red">六</th>
      <th class="text-red">七</th>
    </tr>
    <tr *ngFor="let date of dateTableData; let i=index">
      <td *ngFor="let item of date; let i=index">
        <div class="day-wrapper"
            [class.active]="checkActive(item)"
            [class.today]="checkToday(item) && !item.isNotInCurrentMonth"
            [class.isWeekend]="item.isWeekend"
            [class.isNotInCurrentMonth]="item.isNotInCurrentMonth"
            (click)="selectDayEvent(item, $event)">
          <span class="number">{{ item.day }}</span>
          <span class="lunar-text">{{ item.lunarDayStr }}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
