<div class="schedule-wrapper">
  <div class="header">
    {{currentDate.getFullYear()}}-{{currentDate.getMonth() + 1}}-{{currentDate.getDate()}} 星期{{chineseWeek[currentDate.getDay()]}}
    <div class="day">
      {{currentDate.getDate()}}
    </div>
    <div>
      {{currentDayLunarCalendar.chineseEra.era}}年 {{currentDayLunarCalendar.chineseEra.chineseZodiacAnimal}}年
    </div>
    <div>
      {{currentDayLunarCalendar.monthStr}}{{currentDayLunarCalendar.dayStr}}
    </div>
  </div>
  <div class="list">
    <div class="title">
      今日日程
    </div>
    <ul>
      <li></li>
    </ul>
  </div>
  {{currentDayLunarCalendar | json}}
</div>