<div class="schedule-wrapper">
  <div class="header">
    <div>
      {{currentDate.getFullYear()}}-{{currentDate.getMonth() + 1}}-{{currentDate.getDate()}} 星期{{chineseWeek[currentDate.getDay()]}}
    </div>
    <div class="day">
      {{currentDate.getDate()}}
    </div>
    <div>
      {{currentDayLunarCalendar.chineseEra.era}}年 {{currentDayLunarCalendar.chineseEra.chineseZodiacAnimal}}年
    </div>
    <div>
      {{currentDayLunarCalendar.isLeapMonth ? '闰': ''}}{{currentDayLunarCalendar.monthStr}}{{currentDayLunarCalendar.dayStr}}
    </div>
  </div>
  <div class="list">
    <div class="title">
      今日日程
    </div>
    <ul>
      <ng-container *ngIf="currentDaySchedule.length !== 0; else elseTemplate">
        <li *ngFor="let schedule of currentDaySchedule">
          <div class="time">
            <i class="icon" [style.backgroundColor]="schedule.iconColor"></i> {{schedule.startTime}} - {{schedule.endTime}}
          </div>
          <div class="description">
            {{schedule.description}}
          </div>
        </li>
      </ng-container>
      <ng-template #elseTemplate>
        <li class="empty">暂无日程</li>
      </ng-template>
    </ul>
  </div>
</div>