@import '../../assets/sass/_variable.scss';

.schedule-wrapper{
  box-sizing: border-box;
  height: 100%;
  border-left: 2px solid $border-color-blue-light;
  display: flex;
  flex-direction: column;
  .header{
    box-sizing: border-box;
    height: 101px;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    border-bottom: 2px solid $border-color-blue-light;
    .day{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
  .list{
    padding: 10px 5px;
    font-size: 12px;
    flex: 1 0 0;
    overflow-y: auto;
    li{
      margin-bottom: 5px;
      &.empty{
        color: $text-color-gray-dark;
        padding: 5px;
      }
    }
    .time{
      height: 16px;
      line-height: 16px;
      position: relative;
      padding-left: 10px;
      .icon{
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2.5px;
      }
    }
    .description{
      padding-left: 10px;
    }
  }
  .text-center{
    text-align: center;
  }
}