@import '../../assets/sass/_variable.scss';

.schedule-wrapper{
  box-sizing: border-box;
  height: 100%;
  border-left: 2px solid $border-color-blue-light;
  .header{
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    border-bottom: 2px solid $border-color-blue-light;
    .day{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
  .list{
    padding: 10px 5px;
    font-size: 12px;
  }
  .text-center{
    text-align: center;
  }
}