
$bg-color-white:                      #fff;
$bg-color-orange:                     #fb0;
$bg-color-blue:                       #388bff;
$bg-color-gray:                       #f0f0f0;

$text-color-red:                      #e02d2d;
$text-color-white:                    #fff;
$text-color-gray-dark:                #bfbfbf;
$text-color-gray-darken:              #999;



$border-color-orange:                 #fb0;
$border-color-gray:                   #d8d8d8;
$border-color-gray-dark:              #c8cacc;
$border-color-blue-light:             #57abff;
$border-color-blue:                   #388bff;