<div class="min-scroll-bar-wrapper" 
     [class.hasScroll]="showScroll" 
     [style.maxHeight]="maxHeight ? maxHeight + 'px' : null"
     (mousewheel)="onMouseWheel($event)">
  <div class="scroll-wrapper" #wrapper>
    <ng-content></ng-content>
  </div>
  <div *ngIf="showScroll"
       class="scroll-bar"
       (mouseup)="scrollBarClick($event)">
    <div class="bar"
         [style.top]="scrollBarScrollTop + 'px'"
         (click)="$event.stopPropagation()"
         (mousedown)="startMove($event)"
         (mouseup)="endMove($event)"></div>
  </div>
</div>
