$bg-color-white:#fff;
$bg-color-gray:#aeaeae;
$bg-color-gray-light:#f2f2f2;

$border-color-gray:#e1e1e1;

.min-scroll-bar-wrapper{
  position: relative;
  overflow: hidden;
  &.hasScroll{
    padding-right: 8px;
  }
  .scroll-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: $bg-color-gray-light;
    cursor: pointer;
    &:hover{
      background: $bg-color-gray;
    }
    .bar{
      box-sizing: border-box;
      width: 6px;
      height: 30px;
      position: absolute;
      top: 0px;
      right: 1px;
      border: 1px solid $border-color-gray;
      background: $bg-color-white;
    }
  }
}