@import './assets/sass/_variable.scss';

.calendar-wrapper {
  border: 2px solid $border-color-blue-light;
  display: flex;
  .calendar-detail-wrapper{
    width: 70%;
  }
  .schedule-wrapper {
    width: 30%;
  }
}